# Node
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# System / editor
.DS_Store
.env

# Kubectl binary
frontend/kubectl

# Kubernetes config
*cloudmart-backend.yaml
*cloudmart-frontend.yaml
